@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.abel{
    font-family: 'Abel', sans-serif;
}

.pad{
    padding: 5px;
    border-radius: 10px;
}

.Paper{
    margin: 25px;
}